.example-spacer {
    flex: 1 1 auto;
  }
  /* Header */
#head { background:#181015 url("../../assets/Images/reseau-lignes-bus.png") no-repeat; background-size:cover; min-height:420px; text-align: center; padding-top:240px; color:white; font-family:"Open sans", Helvetica, Arial; }

#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; }
    #head .tagline a { color:#fff; } 
#head .btn { margin-bottom:10px;}

@media (max-width: 767px) {
#head { min-height:420px; padding-top:160px; }
}
/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 54px; color:indigo; margin-bottom:36px; }
	.h-caption h4 { color:black; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h-body { }


/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; }
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }
/*Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .carousel-inner .carousel-item{
    height:560px;
    background-size:cover;
    background-position: center center;
    }
   #carouselExampleControls{
  position:relative;
    }
    #p1
    {
      position: absolute; top:30%;right:0;bottom:auto;left:0;
    }
